{% extends 'base.html' %}

	{% block head %}
	<title>Encuestas</title>
	{% endblock %}


	{% block body %}
        <br>
        <h2>Crear una encuesta</h2>
        <br>
        <form action="/create_poll" method="POST">
        <div class="form-group">
            <label>Pregunta</label>
            <input class="form-control" type='text' name='title' id='title' placeholder="Escriba una pregunta">
            <br>
            
            <div id="options">
                <label>Opciones</label>
                <input class="form-control" type='text' name='option' placeholder="Escribir opción" value="">
                <input class="form-control" type='text' name='option' placeholder="Escribir opción" value="">
            </div>
            <small id="passwordHelpBlock" class="form-text text-muted">
                Deben haber como mínimo dos opciones y como máximo cuatro.
            </small>
            <br>
            <input class="btn btn-link" onclick="addElement()" value='Agregar opción'>
            <input class="btn btn-link" onclick="delElement()" value='Eliminar opción'>
            <br>
            <br>
            <label>Etiquetas</label>
            <input class="form-control" type='text' name='tags' id='tags' placeholder="Ej: musica, futbol, internet">
            <small class="form-text text-muted">
                Las etiquetas deben estar separadas por comas.
            </small>
            <br>
            <script>
                function addElement() {
                    x = document.getElementById('options').childElementCount;
                    if(x<=4){
                        var node = document.createElement("input");
                        node.setAttribute("class", "form-control")
                        node.setAttribute("type", "text")
                        node.setAttribute("name", "option")
                        node.setAttribute("placeholder", "Escribir opción")
                        node.setAttribute("value", "")
                        document.getElementById("options").appendChild(node);
                    }
                }
            </script>
            <script>
                function delElement() {
                    var list = document.getElementById("options");
                    var x = list.childElementCount; 
                    if (x>3){
                        list.removeChild(list.childNodes[2]);
                    }
                }
            </script>

            <input class="btn btn-primary" type='submit' value='Crear encuesta'>
        </div>
        </form>

	{% endblock %}