{% extends 'base.html' %}

	{% block head %}
	<title>Encuestas</title>
	{% endblock %}


	{% block body %}
        <br>
        <h2>Encuestas creadas</h2>
        <br>
            {% for poll in polls %}
                <form action="/vote/{{poll.id}}" method="GET">
                <div class="form-group">
                    <h4>{{poll.title}}</h4>
                    <p><small>Creado el día: {{poll.creation_date}}</small></p>
                    <input class="btn btn-link" type='submit' value='Votar!'>
                </div>
                </form>
            {% endfor %}

	{% endblock %}