{% extends 'base.html' %}

  {% block body %}
        
    <div class="jumbotron">
      <h1 class="display-4">Hola!</h1>
      <p class="lead">Elegí una opción.</p>
      <hr class="my-4">
      <p>Podés crear una encuesta, votar o buscar en las encuestas que ya se crearon.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/create_poll" role="button">Crear encuesta</a>
        <a class="btn btn-primary btn-lg" href="/polls" role="button">Votar</a>
      </p>
    </div>

  {% endblock %}