{% extends 'base.html' %}

  {% block body %}
        
    <div class="jumbotron">
      <h1 class="display-4">{{status}}</h1>
      <p class="lead">{{msg}}</p>
      <p class="lead">
        
      	{% if status=='Error' %}
        	<a class="btn btn-primary btn-lg" href="/vote/{{id}}" role="button">Volver</a>
        {% endif %}

        {% if status!='Error' %}
        	<a class="btn btn-primary btn-lg" href="/polls" role="button">Seguir votando</a>
        {% endif %}
        
        <a class="btn btn-primary btn-lg" href="/" role="button">Página principal</a>
      </p>
    </div>

  {% endblock %}